<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{eq name = "type" value="favor"}
	<title>约吧-收藏夹</title>
	{else/}
	<title>约吧-分享</title>
	{/eq}
	<link rel="stylesheet" type="text/css" href="bootstrap/css/normalize.css" />
	<!--<link rel="stylesheet" type="text/css" href="bootstrap/css/htmleaf-demo.css">-->
	<!--<link rel="import" href="../coverticalmenu.html" id="page1"/>-->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/show.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/showfavorite.css">

	<script src="bootstrap/js/prefixfree.min.js"></script>
	<!--[if IE]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->


</head>
<body>
{include file='common/vertical' }
<style type="text/css">
	/*.div-search{*/
		/*height: 50px;margin-top: 10px;*/
	/*}*/
</style>
	<div class="htmleaf-container" >
		<header class="htmleaf-header">
			{eq name = "type" value="favor"}
			<h1 class="text-lighter" style="color: white">收藏夹 </h1>
			{else/}
			<h1 class="text-lighter" style="color: white">分享 </h1>
			{/eq}
		</header>
		<div class="container">
		  <div class="tab-group" id="merform"style="" >
		    <section id="tab1" title="娱乐项目" >
				{include file='common/merchant' }


		    </section>
		    <section id="tab2" title="聚会方案" >
				{include file='common/search' }
			</section>

		  </div>
		</div>
		<footer style="min-height:50px">

		</footer>
	</div>
	
	<script src="jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="jquery/dist/jquery-1.11.0.min.js"><\/script>')</script>
	<script type="text/javascript" src="jquery/dist/jquery-tab.js"></script>
	<script type="text/javascript">
		$(function(){
			// Calling the plugin
			$('.tab-group').tabify();
		})
	</script>
</body>
</html>